#gameBody {
    max-width: 800px;
    height: 100%;
    margin: auto;
    background-color: #fbb969;
}
html,
body {
    font-family: "courier-prime", Courier, sans-serif;
    font-weight: 700;
    line-height: 25px;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#playerButtons {
    width: 90%;
    max-height: 25%;
    grid-gap: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
    /* grid-template-rows: repeat(3, 55px); */
}
.playerButton {
    /* margin-top: 1em; */
    /* height: 55px; */
    /* flex-basis: 45%; */
    background-color: #333;
    border-radius: 20px;
    font-family: "courier-prime", Courier, sans-serif;
    /* font-weight: 700; */
    font-size: 9pt !important;
    line-height: 20px;
    color: #fbb969;
}
.board {
    width: 90%;
    min-height: 200px;
    display: grid;
    grid-gap: 10px;
    margin: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2fr 2fr 1fr;
}
.electionTrackerSpot {
    width: 30px;
    height: 30px;
    border-radius: 18px;
    border: 3px solid #fbb969;
}
.electionTrackerSpot.filled {
    background-color: #fbb969;
}
.electionTrackerSpot.filled.pulse {
    background-color: #ff2919;
}
.policy-anim-move {
    transition: all 0.75s;
}

.isPresident::before {
    content: "President ";
}
.isChancellor::before {
    content: "Chancellor ";
}
.isDead::after {
    content: " (DEAD)";
}
.topright {
    width: 25%;
    height: 14%;
    /* left: 37.5%; */
    /* bottom: 15%; */
    min-width: 340px;
    min-height: 110px;
    margin: auto;
    text-align: center;
    background-color: #333;
    color: #fbb969;
}
.whoAmIModal {
    width: 100%;
    height: 100%;
    background-color: #eba959f0;
    display: flex;
    font-size: 18pt;
}
.whoAmIModal > * {
    width: 75%;
    height: 75%;
    line-height: 30pt;
    text-align: center;
    color: #333;
    margin: auto;
}
.policyBtn {
    width: 30%;
    background-color: transparent;
    display: inline-block;
    margin: 1.5%;
}
.policyBtn > img {
    width: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}
.policyBtn.selected {
    border: 5px solid limegreen;
}
.fascistPolicy {
    background-image: url("../img/fascistpolicy.png");
}
.liberalPolicy {
    background-image: url("../img/liberalpolicy.png");
}
.tooltipPopup {
    width: 200px;
    border-radius: 8px;
    padding: 10px;
    transform: translate(-50%, 0);
}
.tooltipPopup > p {
    margin-bottom: 10px;
}
/* .tooltipPopup::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 50px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid white;
} */
.noBorder {
    outline: none;
    border: none;
}
.noBorder:focus {
    outline: none;
}
.noBorder::-moz-focus-inner {
    border: 0;
}
#gameArea {
    height: 100%;
    width: 100%;
}

#voteButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: auto;
    /* background-color: rgba(255, 255, 255, 0.5); */
}
#ja-btn,
#nein-btn {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
#ja-btn img,
#nein-btn img {
    width: 100%;
}
#bottomDiv {
    padding: 10px 0px 10px 0px;
    background-color: #333;
    width: 95%;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
#votePolicyContainer {
    height: calc(30% + 40px);
    /* background-color: black; */
}
.titleWrapper {
    width: 90%;
    margin: auto;
}

.title {
    background-image: url("../img/title.PNG");
    background-size: 100%;
    margin: 0px auto;
    text-align: center;
    width: 550px;
    height: 350px;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    color: #ecffe0;
    font-weight: 300;
}

.buttons {
    width: 100%;
    text-align: center;
}

.info label {
    font-family: "courier-prime", Courier, sans-serif;
    display: block;
}

.info input {
    font-family: "courier-prime", Courier, sans-serif;
    text-align: center;
    padding: 10px;
    width: 200px;
    height: 60px;
    /* font-family: "Quicksand", sans-serif; */
    color: #333;
    font-weight: 300;
    font-size: 54px;
    border: 1px dotted white;
    border-radius: 10px;
    background: transparent;
}

.info input#inputPlayerName {
    width: 90%;
}
.historyPopup,
.playersPopup {
    font-size: 9pt;
    width: 95%;
    height: 30%;
}
.footer {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: space-around; */
    background-color: white;
}
.footer > * {
    border: 1px solid gray;
}
